* {padding: 0; margin: 0;}

$highligtColor : #f56854;
$rmbColor : #fff3a5;

html,
body,
.wrapper {
  height: 100%;
  width: 100%;
  background-color: darkgray;
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden;
}
p {
  text-align: left;
}

.wrapper {
  color: #fff;
  &.result {
    .cover {
      -webkit-transform:scale(.5);
    }
    .result {
      -webkit-transform:translate3d(0,-100%,0);
      .title,
      .title-sub,
      .title-logo {
        z-index: 160;
        &.on {
          -webkit-transform:translate3d(-13%,100%,0);
        }
      }
      .bluebar {
        -webkit-transform:translate3d(0,100%,0);
        z-index: 150;
      }
      .btn {
        position: absolute;
        top:72%;
        left:50%;
        margin-left: -144px;
        z-index: 200;
        &.reset {
          background-color: #61757f;
          margin-left: 20px;
          box-shadow: 0 4px 0 darken(#61757f,7%);
        }
      }
      .copyrights {
        -webkit-transform:translate3d(0,0,0);
      }
    }
  }
}

.copyrights {
  font-size: 12px;
  position: absolute;
  left:50%;
  width: 104px;
  margin-left: -52px;
  bottom:10px;
  transition: all 1s;
  -webkit-transform:translate3d(0,200%,0);
  &.on {
    -webkit-transform:translate3d(0,0,0);
  }
}
.page {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #48cbd8;
  transition: all .6s ease-in;
  &.cover {
    
  }
  &.result {
    z-index: 100;
  }
}

.cloud,
.zhang,
.bluebar,
.title,
.title-sub,
.title-logo,
.train,
.head,
.board,
.avatar {
  background-repeat: no-repeat;
  background-size: contain;
  width:100%;
  height:208px;
  position: absolute;
  opacity: 0;
  transition: all .5s ease-in;
/*  -webkit-animation-iteration-count:1;*/
}

.spacer {
  height:218px;
}



.on {
  opacity: 1;
}
.pop {
  -webkit-animation:pop 1s ease;
}
.jump {
  -webkit-animation:jump 1s ease infinite;
}
.jump2 {
  -webkit-animation:jump2 1s ease infinite;
}

.cloud { 
  background-image: url(img/cloud.png);
}
.zhang {
  background-image: url(img/zhang.png);
}
.bluebar {
  background-image: url(img/bluebar.png);
  -webkit-transform:translate3d(100%,0,0);
  transition-duration: .5s;
  &.on {
    -webkit-transform:translate3d(0,0,0);
  }
}
.title {
  background-image: url(img/title.png);
}
.title-sub {
  background-image: url(img/title_sub.png);
/*  -webkit-transform:translate3d(0,-10px,0) scale(.5);*/
/*  -webkit-animation:fadeIn 1s ease 1s 1;*/
}
.title-sub.on {
/*  -webkit-transform:translate3d(0,0,0) scale(1);*/
/*  background-image: url(img/title_sub.png);*/
/*  -webkit-animation:fadeIn 1s ease;*/
}
.title-logo {
  background-image: url(img/title_logo.png);
}
.train,
.head {
  background-image: url(img/train.png);
  opacity: 1;
  -webkit-transform:translate3d(-100%,0,0);
  &.on {
    -webkit-transform:translate3d(0,0,0);
    transition: 1s ease-out;
  }
  &.back {
    transition: .2s ease-out;
    -webkit-transform:translate3d(-5px,0,0);
  }
}
.head {
  background-image: url(img/head.png);
}

.intro {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  transition: all .5s;
  &.on {
    opacity: 1;
  }
}

.form {
  background-color: #56d3de;
  margin: 10px 0;
  padding: 10px;
  font-size: 1.4rem;
  text-align: center;
  div {
    margin: 4px 0;
  }
  input {
    width: 3em;
    color: #506774;
    background-color: #fff;
    font-size: inherit;
    text-align: center;
    border: none;
    border-radius: 5px;
  }
  .rmb,
  .days {
    font-weight: bold;
    color: $highligtColor;
  }
  .days {
    color: $rmbColor;
  }
}
.btn {
  color: #fff;
  font-size: 1.5em;
  border: none;
  background-color: $highligtColor;
  padding: .3em 1em;
  border-radius: 5px;
  box-shadow: 0 4px 0 darken($highligtColor,7%);
}

//结果页花费
.point {
  position: absolute;
  top:4%;
  left:50%;
  margin-left: -90px;
  width: 180px;
  div {
    line-height: 1;
  }
  h3 {
    font-size: 25px;
  }
  .pts {
    float: left;
    font-size: 30px;
    background-color: #8adee6;
    border-radius: 5px;
    color:$highligtColor;
    font-weight: bold;
    padding: 7px 30px;
    margin-right: 10px;
  }
  .rmb {
    color: $rmbColor;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
  }
}

//结果页黑板
.board {
  background-image: url(img/board.png);
  height: 390px;
  opacity: 1;
  z-index: 120;
  .txt {
    height: 4.5em;
    -webkit-transform : translateX(38%) translateY(254%)
  }
}

// 结果页人头
.avatar {
  height:340px;
  z-index: 130;
  transition-delay: .5s;
  -webkit-transform: scale(.5);
  &.a1 {
    background-image: url(img/avatar1.png);
  }
  &.a2 {
    background-image: url(img/avatar2.png);
  }
  &.a3 {
    background-image: url(img/avatar3.png);
  }
  &.a4 {
    background-image: url(img/avatar4.png);
  }
  &.on {
    -webkit-transform: scale(1);
  }
}

@media (min-device-width : 360px) {
  /* 360px width */
  .cloud,
  .zhang,
  .bluebar,
  .title,
  .title-sub,
  .title-logo,
  .train,
  .head {
    height:235px;
  }
  .spacer {
    height:245px;
  }
  .board {
    .txt {
      -webkit-transform : translateX(38%) translateY(290%)
    }
  }
}
//@media (min-device-width : 540px) {
//  /* 540px width */
//  .cloud,
//  .zhang,
//  .bluebar,
//  .title,
//  .title-sub,
//  .title-logo,
//  .train,
//  .head {
//    height:235px;
//  }
//  .spacer {
//    height:245px;
//  }
//}
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
  /*iphone 6*/
  .cloud,
  .zhang,
  .bluebar,
  .title,
  .title-sub,
  .title-logo,
  .train,
  .head {
    height:244px;
  }
  .spacer {
    height:255px;
  }
  .board {
    .txt {
      -webkit-transform : translateX(38%) translateY(304%)
    }
  }
  .avatar {
    height: 360px;
  }
}
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
  /*iphone 6 plus*/
  .cloud,
  .zhang,
  .bluebar,
  .title,
  .title-sub,
  .title-logo,
  .train,
  .head {
    height:270px;
  }
  .spacer {
    height:280px;
  }
  .board {
    .txt {
      -webkit-transform : translateX(38%) translateY(343%)
    }
  }
  .avatar {
    height: 400px;
  }
}


/*

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*/

@-webkit-keyframes pop {
  0% {
    opacity: .3;
    -webkit-transform:scale(.1);
  }
  60% {
    opacity: 1;
    -webkit-transform:scale(1.1);
  }
  75% {
    -webkit-transform:scale(.9);
  }
  100% {
    -webkit-transform:scale(1);
  }
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform:translate3d(0,0,0);
  }
  50% {
    -webkit-transform:translate3d(0,-5px,0);
  }
  100% {
    -webkit-transform:translate3d(0,0,0);
  }
}

@-webkit-keyframes jump2 {
  0% {
    -webkit-transform:translate3d(-13%,100%,0);
  }
  50% {
    -webkit-transform:translate3d(-13%,99%,0);
  }
  100% {
    -webkit-transform:translate3d(-13%,100%,0);
  }
}